<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="KeywordDrivenFramework">
	<listeners>
		<listener class-name="com.keyword.utility.ExtentReport" />
	</listeners>


	<test thread-count="5" name="LoginTest">
		<classes>
			<class name="com.keyword.tests.LoginTest" />
		</classes>
	</test> <!-- LoginTest -->
</suite> <!-- KeywordDrivenFramework -->
